body{
    font-size: x-large;
    font-family: cursive;
    color: rgb(0, 255, 34);
    /*background-image: url(media/7be.png);*/
    background-image: linear-gradient(
        to right bottom,
    rgba(255, 0, 0, 0.7),
    rgba(6, 236, 236, 0.7)
    ),
    url(media/7be.png);
    background-size: cover;
    background-position: center;
    font-size: 50px;
}
div{
    color: white;
}

li:last-child{
    color: black;
    font-size: 70px;
    text-transform: uppercase;
}
li:nth-child(2){
    color: lightcyan;
}
ul + h2{
    color: aqua;
}
#lol{
    color:red;
}